# Mercado Pago - obtén tu token en https://www.mercadopago.com.mx/developers
MP_ACCESS_TOKEN=APP_USR-xxxxxxxxxxxx

# Google Apps Script Web App URL (ver instrucciones en README)
GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/XXXXXX/exec
